.journals ul .body .description a {display: inline;}
#headerNavigationContainer{
/*background:#066993 url(https://preview.ibb.co/iZocpq/transparent-pattern-modern-1.png) repeat;
*/max-height: 200% !important; /*mengganti warna menu (#31A9E1) dan gambar header */
}
.pkp_site_name {padding-top: 0 !important; padding-bottom: 0 !important}
.pkp_site_name > a {padding-top: 0; padding-bottom: 0;}
.pkp_site_name .is_img img {
  object-fit: cover; width: 100%; height: 100% !important;}
.pkp_site_name_wrapper {padding-left: 0; padding-right: 0;}
.pkp_navigation_user_wrapper {top: 0; right: 30; padding-right:30px;}
.pkp_navigation_primary_wrapper .pkp_nav_list {padding-left: 20px; 
  text-align: left; 
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
  font-style: normal; 
  font: bold;
  color: white; 
  font-weight: bolder}
.pkp_structure_page {margin-top:  0px !important; margin-bottom:20 !important; padding-bottom: 20 !important;}

/*menu css*/
*, *:before, *:after {
  -webkit-border-sizing: border-box;
  -moz-border-sizing: border-box;
  border-sizing: border-box;
}

.container > ul {
  list-style: none;
}

body {
  font-family: tahoma,geneva,sans-serif;
}
.obj_article_details .abstract {
    text-align: justify;
}
.pkp_footer_content {
  float: left;
  width: 50%;  padding-top: 10px;
  padding-bottom:10px;
}
.pkp_site_name_wrapper a.is_img img {
    max-height: none;
}

.pkp_brand_footer {
  float: right;
  width: 30%;
  padding-bottom:10px;
  padding-top: 50px;
}
.pkp_structure_footer_wrapper {
	background: #e8ebef;
	border-bottom:@double solid; 
	border-bottom-color:#201e1f;
}
.pkp_structure_sidebar h2.title 
{background-color: darkviolet;
height: 30px;
text-align: center;
color: white;
line-height: 30px
}
.sb-btn {border-radius: 4px;
  background-color: rgba(204, 153, 255); 
  color: white;
  padding: 5px 0px ;
  width: 230px;
  height: 40px;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bolder;
  display: block;
  font-size: 14px;
  margin: 0px 5px;
  transition-duration: 0.4s;
  cursor: pointer; }
  .sb-btn:hover {background-color: blueviolet; color: white; border-left-style: solid;
    border-left-width: 10px ;
    border-left-color: #001747;}
  .pkp_navigation_primary_wrapper .pkp_nav_list a {color: #001747; position: sticky;}
  .pkp_site_nav_menu div {background-color: transparent;}
  .pkp_navigation_user_wrapper .profile a {color: #001747; 
    font-weight: bold; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-size: 14px;}
  .pkp_navigation_user_wrapper {position: fixed;}
  .module .body div { border-top-style: dotted; border-bottom-style:dotted ; border-width: 1px;}
  .title p {border-right-style: solid;}
  .title a { background-color: rgba(204, 153, 255); /* Green */
    border: none;
    border-radius: 5px;
    font-weight: bolder;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;}
  .title:hover a {background-color: darkviolet; box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);border-left-style: solid;
    border-left-width: 10px ;
    border-left-color: #001747;}
  .left .block_make_submission div {padding: 0px 30px;}
  .left .block_make_submission a {background-color: rgba(204, 153, 255); color: navy; padding: 5px 40px; -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
  .left .block_make_submission:hover a {background-color: darkviolet; 
    color: white; 
    padding: 5px 40px;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(204, 153, 255);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19); 
    border-bottom-style: solid;
    border-bottom-width: 5px ;
    border-bottom-color: rgba(204, 153, 255);
    border-left-style: solid;
    border-left-width: 5px ;
    border-left-color: rgba(204, 153, 255);}
  .left .block_custom .content img {max-width: 85%; padding-left: 20px;}
  .left .block_custom .content:hover img { filter: drop-shadow(0.5rem 0.5rem 0.6rem rgba(0, 0, 0, 0.5)); position:-ms-page; max-width: 220px; padding-left: 10px; }
  .left .block_custom .content .scholar:hover img { filter: drop-shadow(0.5rem 0.5rem 0.6rem rgba(49, 55, 221, 0.5)); position:-ms-page; max-width: 230px; padding-left: 10px; }
  .left .block_custom .content .crossref:hover img { filter: drop-shadow(0.5rem 0.5rem 0.6rem rgba(172, 40, 19, 0.5)); position:-ms-page; width: 230px; padding-left: 10px; }
  .left .block_custom .content .sinta:hover img { filter: drop-shadow(0.5rem 0.5rem 0.6rem rgba(16, 0, 137, 0.625)); position:-ms-page; max-width: 230px; padding-left: 10px; }
  .left .block_custom .content .garuda:hover img { filter: drop-shadow(0.5rem 0.5rem 0.6rem rgba(254, 65, 65, 0.667)); position:-ms-page; max-width: 230px; padding-left: 10px; }