.journals ul .body .description a {display: inline;}
#headerNavigationContainer{
/*background:#066993 url(https://preview.ibb.co/iZocpq/transparent-pattern-modern-1.png) repeat;
*/max-height: 200% !important; /*mengganti warna menu (#31A9E1) dan gambar header */
}
.pkp_site_name {padding-top: 0 !important; padding-bottom: 0 !important}
.pkp_site_name > a {padding-top: 0; padding-bottom: 0;}
.pkp_site_name .is_img img {max-height: 200px !important;}
.pkp_site_name_wrapper {padding-left: 0; padding-right: 0;}
.pkp_navigation_user_wrapper {top: 0; right: 30; padding-right:30px;}
.pkp_navigation_primary_wrapper .pkp_nav_list {padding-left: 20px; 
  text-align: left; 
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
  font-style: normal; 
  font: bold;
  color: white; 
  font-weight: bolder;}
.pkp_structure_page {margin-top:  0px !important; margin-bottom:20 !important; padding-bottom: 20 !important;}

/*menu css*/
*, *:before, *:after {
  -webkit-border-sizing: border-box;
  -moz-border-sizing: border-box;
  border-sizing: border-box;
}

.container > ul {
  list-style: none;
}

body {
  font-family: tahoma,geneva,sans-serif;
}
.obj_article_details .abstract {
    text-align: justify;
}
.pkp_footer_content {
  float: left;
  width: 50%;  padding-top: 10px;
  padding-bottom:10px;
}
.pkp_site_name_wrapper a.is_img img {
    max-height: none;
}

.pkp_brand_footer {
  float: right;
  width: 30%;
  padding-bottom:10px;
  padding-top: 50px;
}
.pkp_structure_footer_wrapper {
	background: #e8ebef;
	border-bottom:@double solid; 
	border-bottom-color:#201e1f;
}
.pkp_structure_sidebar h2.title 
{background-color: rgb(170, 124, 212);
height: 30px;
text-align: center;
color: white;
line-height: 30px
}
.sb-btn {border-radius: 4px;
  background-color: #c966f3; 
  color: white;
  padding: 5px 0px ;
  width: 230px;
  height: 40px;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bolder;
  display: block;
  font-size: 14px;
  margin: 0px 5px;
  transition-duration: 0.4s;
  cursor: pointer; }
  .sb-btn:hover {background-color: blueviolet; color: white;}
  .pkp_navigation_primary_wrapper .pkp_nav_list a {color: #001747;}
  .pkp_site_nav_menu div {background-color: transparent;}